body {
  background-color: #fff9fb;
  color: #b1a9a9;
}
.App {
  text-align: center;
}
.title {
  color: #4b88a2;
  text-align: left;
  font-size: 5vh;
  margin-left: 50px;
}
.input-title {
  color: #192429;
}
.input input {
  width: 50%;
  height: 4vh;
  border-radius: 5px;
  border: none;
  background-color: #b1a9a9;
  color: #192429;
}
textarea:focus,
input:focus {
  outline: none;
}
.submit-btn {
  height: 4vh;
  width: 50px;
  border-radius: 5px;
  background-color: #4b88a2;
  border: none;
  color: #fff9fb;
  transition: 0.5s linear;
  font-size: 1vh 1vw;
}
.submit-btn:hover {
  background-color: #192429;
  transition: 0.5s linear;
}
.task-container {
  background-color: #192429;
  width: 60vw;
  height: auto;
  margin: 15px auto;
  border-radius: 5px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
}

.task {
  text-align: left;
  font-size: 3vh;
  width: 70%;
  padding: 10px;
}

.done {
  text-decoration: line-through;
}
.icons-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}
.icons-wrapper span {
  color: #b1a9a9;
  margin: 0px 1vw;
  cursor: pointer;
}
.icons-wrapper span:last-of-type {
  color: #bb0a21;
}

.icons-wrapper span:hover {
  color: rgb(14, 223, 14);
}
.icons-wrapper span:last-of-type:hover {
  color: rgb(102, 23, 23);
}
